body {
    padding: 1em 7em;
    font-family: Rubik;
    color: white;
    background-color: #424242;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lexend Deca;
    border-bottom: 1.5px solid white;
}

.intro {
    background-color: #181818;
}

.intro * {
    margin: 0;
}

.intro ul {
    padding-inline-start: 1.5em;
}

.intro h1 {
    font-family: Lexend Deca;
}